In [ ]:
import pandas as pd 
import matplotlib.pyplot as plt
df =pd.read_csv("gapminder-FiveYearData.csv")
print(df.head())
print(df.shape)
print(df.columns)
print(df.dtypes)
print(df.info())

In [9]:
df_a = df[['country','year']]
print(df_a)

          country  year
0     Afghanistan  1952
1     Afghanistan  1957
2     Afghanistan  1962
3     Afghanistan  1967
4     Afghanistan  1972
...           ...   ...
1699     Zimbabwe  1987
1700     Zimbabwe  1992
1701     Zimbabwe  1997
1702     Zimbabwe  2002
1703     Zimbabwe  2007

[1704 rows x 2 columns]

In [14]:
df.loc[[0,99,999]]

         country  year         pop continent  lifeExp    gdpPercap
0    Afghanistan  1952   8425333.0      Asia   28.801   779.445314
99    Bangladesh  1967  62821884.0      Asia   43.453   721.186086
999     Mongolia  1967   1149500.0      Asia   51.253  1226.041130

In [15]:
df.iloc[-1]

country        Zimbabwe
year               2007
pop          12311143.0
continent        Africa
lifeExp          43.487
gdpPercap    469.709298
Name: 1703, dtype: object

In [ ]:
df.groupby(['year','country'])[['lifeExp','gdpPercap']].mean()

                         lifeExp    gdpPercap
year country
1952 Afghanistan          28.801   779.445314
     Albania              55.230  1601.056136
     Algeria              43.077  2449.008185
     Angola               30.015  3520.610273
     Argentina            62.485  5911.315053
...                          ...          ...
2007 Vietnam              74.249  2441.576404
     West Bank and Gaza   73.422  3025.349798
     Yemen Rep.           62.698  2280.769906
     Zambia               42.384  1271.211593
     Zimbabwe             43.487   469.709298

[1704 rows x 2 columns]

In [22]:
df.groupby('continent')['country'].nunique()

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64